.promo {
    &__title {
        @extend %title;
        max-width: 750px;
    }
}
.grid {
    @extend %grid-big;
    &--push-down {
        margin-bottom: 120px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        @extend %title-small;
    }
    &__text {
        @extend %text;
    }
    &__btn {
        @extend %btn;
        @extend %btn-small;
    }
}
